<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.synflow.ngDesign.ui.categorySynflow"
            name="Synflow">
      </category>
      <wizard
            category="com.synflow.ngDesign.ui.categorySynflow"
            class="com.synflow.ngDesign.ui.internal.wizards.NewProjectWizard"
            finalPerspective="com.synflow.ngDesign.ui.perspectives.NgDesignPerspective"
            hasPages="true"
            icon="icons/newsfprj_wiz.gif"
            id="com.synflow.ngDesign.ui.wizards.newProject"
            name="Synflow Project"
            preferredPerspectives="com.synflow.ngDesign.ui.perspectives.NgDesignPerspective"
            project="true">
         <description>
            Create a Synflow project
         </description>
      </wizard>
      <wizard
            category="com.synflow.ngDesign.ui.categorySynflow"
            class="com.synflow.ngDesign.ui.internal.wizards.NewPackageWizard"
            hasPages="true"
            icon="icons/newpack_wiz.gif"
            id="com.synflow.ngDesign.ui.wizards.newPackage"
            name="Package">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.synflow.ngDesign.ui.internal.properties.ProjectPropertiesPage"
            id="com.synflow.ngDesign.ui.projectPage"
            name="Synflow">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.synflow.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/sfprj.gif"
            id="com.synflow.ngDesign.ui.natureImage"
            natureId="com.synflow.core.nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.synflow.ngDesign.ui.internal.perspectives.NgDesignPerspective"
            icon="icons/synflow.png"
            id="com.synflow.ngDesign.ui.perspectives.NgDesignPerspective"
            name="Synflow">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.synflow.ngDesign.ui.perspectives.NgDesignPerspective">
         <hiddenMenuItem
               id="new">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="newWizardDropDown">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="com.synflow.ngDesign.ui"
          name="Synflow">
    </category>
    <view
          category="com.synflow.ngDesign.ui"
          class="com.synflow.ngDesign.ui.internal.navigator.ProjectExplorer"
          icon="icons/package.gif"
          id="com.synflow.ngDesign.ui.projectExplorer"
          name="Project Explorer">
    </view>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.renameParticipants">
    <renameParticipant
          class="com.synflow.ngDesign.ui.internal.refactoring.CxRenameParticipant"
          id="com.synflow.ngDesign.ui.renameParticipantCx"
          name="Rename Cx task">
       <enablement>
          <with variable="affectedNatures">
	        <iterate
               operator="or">
	          <equals value="com.synflow.core.nature"/>
	        </iterate>
	      </with>
	      <with variable="element">
	        <instanceof value="org.eclipse.core.resources.IFile"/>
	        <test
               property="org.eclipse.core.resources.extension"
               value="cx"/>
	      </with>
       </enablement>
    </renameParticipant>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.moveParticipants">
    <moveParticipant
          class="com.synflow.ngDesign.ui.internal.refactoring.CxMoveParticipant"
          id="com.synflow.ngDesign.ui.moveParticipantCx"
          name="Move Cx task">
       <enablement>
          <with
                variable="affectedNatures">
             <iterate
                   operator="or">
                <equals
                      value="com.synflow.core.nature">
                </equals>
             </iterate>
          </with>
          <with
                variable="element">
             <instanceof
                   value="org.eclipse.core.resources.IFile">
             </instanceof>
             <test
                   property="org.eclipse.core.resources.extension"
                   value="cx">
             </test>
          </with></enablement>
    </moveParticipant>
 </extension>
 
  
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="com.synflow.ngDesign.ui.internal.navigator.CxContentProvider"
          icon="icons/package.gif"
          id="com.synflow.ngDesign.ui.navigatorContent"
          labelProvider="com.synflow.cx.ui.CxExecutableExtensionFactory:com.synflow.cx.ui.labeling.CxNavigatorLabelProvider"
          name="Synflow Navigator"
          priority="high">
       <triggerPoints>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
             <instanceof
                   value="com.synflow.core.layout.ITreeElement">
             </instanceof>
          </or>
       </triggerPoints>
       <possibleChildren>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
             <instanceof
                   value="com.synflow.core.layout.ITreeElement">
             </instanceof>
          </or></possibleChildren>
       <actionProvider
             class="com.synflow.ngDesign.ui.internal.navigator.ProjectExplorerNewActionProvider"
             id="com.synflow.ngDesign.ui.navigator.actions.NewAction">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                </adapt>
                <adapt
                      type="java.util.Collection">
                   <count
                         value="0">
                   </count>
                </adapt>
             </or>
          </enablement>
       </actionProvider>
       <actionProvider
             class="com.synflow.ngDesign.ui.internal.navigator.EditActionProvider"
             id="com.synflow.ngDesign.ui.navigator.actions.EditActions"
             overrides="org.eclipse.ui.navigator.resources.actions.EditActions">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
          </enablement>
       </actionProvider>
       <actionProvider
             class="com.synflow.ngDesign.ui.internal.navigator.RefactorActionProvider"
             id="com.synflow.ngDesign.ui.navigator.actions.RefactorActions"
             overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
          </enablement>
       </actionProvider>
       <commonSorter
             class="com.synflow.ngDesign.ui.internal.navigator.ProjectExplorerSorter"
             id="com.synflow.ngDesign.ui.navigator.ProjectExplorerSorter">
       </commonSorter>
       <commonWizard
             type="new"
             wizardId="com.synflow.ngDesign.ui.wizards.newPackage">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                   <test
                         property="com.synflow.core.isPackage"
                         value="true">
                   </test>
                </adapt>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                   <test
                         property="com.synflow.core.isSourceFolder"
                         value="true">
                   </test>
                </adapt>
             </or></enablement>
       </commonWizard>
       <commonWizard
             type="new"
             wizardId="com.synflow.cx.ui.wizards.newTask">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
                <test
                      property="com.synflow.core.isPackage"
                      value="true">
                </test>
             </adapt></enablement>
       </commonWizard>
       <commonWizard
             type="new"
             wizardId="com.synflow.cx.ui.wizards.newBundle">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
                <test
                      property="com.synflow.core.isPackage"
                      value="true">
                </test>
             </adapt></enablement>
       </commonWizard>
       <commonWizard
             type="new"
             wizardId="com.synflow.cx.ui.wizards.newNetwork">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
                <test
                      property="com.synflow.core.isPackage"
                      value="true">
                </test>
             </adapt></enablement>
       </commonWizard>
       <dropAssistant
             class="com.synflow.ngDesign.ui.internal.navigator.CxDropAdapterAssistant"
             id="com.synflow.ngDesign.ui.navigator.dropAssistant">
          <possibleDropTargets>
             <or>
                <adapt
                   type="org.eclipse.core.resources.IResource">
                </adapt>
                <instanceof
                      value="com.synflow.core.layout.ITreeElement">
                </instanceof>
             </or>
          </possibleDropTargets>
       </dropAssistant>
       <override
             policy="InvokeAlwaysRegardlessOfSuppressedExt"
             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
       </override>
    </navigatorContent>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="com.synflow.ngDesign.ui.projectExplorer">
       <includes>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resourceContent">
          </contentExtension>
          <contentExtension
                pattern="com.synflow.ngDesign.ui.navigatorContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.filters.*">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.linkHelper">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.workingSets">
          </contentExtension>
       </includes>
    </viewerContentBinding>
    <viewerActionBinding
          viewerId="com.synflow.ngDesign.ui.projectExplorer">
       <includes>
          <actionExtension
                pattern="com.synflow.ngDesign.ui.navigator.actions.*">
          </actionExtension>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
       </includes>
       <excludes>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.NewActions">
          </actionExtension>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.actions.EditActions">
          </actionExtension>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.actions.RefactorActions">
          </actionExtension>
       </excludes>
    </viewerActionBinding>
 </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="com.synflow.ngDesign.ui.internal.navigator.CxLabelDecorator"
          id="com.synflow.cx.ui.decorator"
          label="Cx decorator"
          lightweight="true"
          location="TOP_LEFT"
          state="true">
    </decorator>
 </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="com.synflow.core.layout.ITreeElement"
          class="com.synflow.ngDesign.ui.internal.AdapterFactory">
       <adapter
             type="org.eclipse.core.resources.IFolder">
       </adapter>
       <adapter type="org.eclipse.core.resources.IResource"/>
       <adapter type="org.eclipse.ui.IContributorResourceAdapter"/>
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.synflow.ngDesign.ui.internal.handlers.NewMenuHandler"
          commandId="org.eclipse.ui.file.newQuickMenu">
       <activeWhen>
          <with
                variable="selection">
             <count
                   value="*">
             </count>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="com.synflow.ngDesign.ui.internal.handlers.NewMenuHandler"
          commandId="org.eclipse.ui.newWizard">
       <activeWhen>
          <with
                variable="selection">
             <count
                   value="*">
             </count>
          </with>
       </activeWhen>
       <enabledWhen>
          <with
                variable="activePartId">
             <equals
                   value="com.synflow.ngDesign.ui.projectExplorer">
             </equals>
          </with>
       </enabledWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="menu:file?after=fileStart">
       <command
             commandId="org.eclipse.ui.newWizard"
             icon="icons/new_wiz.png"
             label="&amp;New..."
             style="push">
       </command>
       <command
             commandId="com.synflow.ngDesign.ui.newProject"
             icon="icons/newsfprj_wiz.gif"
             label="New &amp;project..."
             style="push">
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="com.synflow.ngDesign.ui.internal.handlers.NewProjectHandler"
          id="com.synflow.ngDesign.ui.newProject"
          name="New project">
    </command>
 </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.synflow.ngDesign.ui.preferences.MainPreferencePage"
            id="com.synflow.ngDesign.ui.mainPage"
            name="Synflow">
      </page>
      <page
            category="com.synflow.ngDesign.ui.mainPage"
            class="com.synflow.ngDesign.ui.preferences.ToolsPreferencePage"
            id="com.synflow.ngDesign.ui.toolsPage"
            name="Tools">
      </page>
   </extension>
    <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="com.synflow.ngDesign.ui.internal.debug.SimulationLaunchShortcut"
          icon="icons/cx_app.gif"
          id="com.synflow.ngDesign.ui.shortcutSimulation"
          label="Simulation"
          modes="run,debug">
       <configurationType
             id="com.synflow.ngDesign.launchConfigurationSimulation"></configurationType>
       <contextualLaunch>
          <enablement>
             <and>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                            property="org.eclipse.core.resources.extension"
                            value="cx">
                         </test>
                      </adapt>
                   </iterate>
                </with>
                <test
                   property="com.synflow.ngDesign.isLicenseValid"
                   value="true">
                </test>
             </and>
          </enablement>
       </contextualLaunch>
       <description
             description="Runs a Cx entity"
             mode="run">
       </description>
       <description
             description="Debugs a Cx entity"
             mode="debug">
       </description>
    </shortcut>
    <shortcut
          class="com.synflow.ngDesign.ui.internal.synthesis.HardwareLaunchShortcut"
          icon="icons/hardware.gif"
          id="com.synflow.ngDesign.ui.shortcutHardware"
          label="Hardware on FPGA"
          modes="run">
       <configurationType
             id="com.synflow.ngDesign.launchConfigurationSynthesis">
       </configurationType>
       <contextualLaunch>
          <enablement>
             <and>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="cx">
                         </test>
                      </adapt>
                   </iterate>
                </with>
                <test
                      property="com.synflow.ngDesign.isLicenseValid"
                      value="true">
                </test>
             </and>
          </enablement>
       </contextualLaunch>
    </shortcut>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="com.synflow.ngDesign.ui.internal.debug.SimulationTabGroup"
          id="com.synflow.ngDesign.ui.launchConfigurationTabGroupSimulation"
          type="com.synflow.ngDesign.launchConfigurationSimulation">
       <launchMode
             mode="run">
       </launchMode>
       <launchMode
             mode="debug">
       </launchMode>
    </launchConfigurationTabGroup>
    <launchConfigurationTabGroup
          class="com.synflow.ngDesign.ui.internal.synthesis.SynthesisTabGroup"
          id="com.synflow.ngDesign.ui.launchConfigurationTabGroupSynthesis"
          type="com.synflow.ngDesign.launchConfigurationSynthesis">
       <launchMode
             mode="run">
       </launchMode>
    </launchConfigurationTabGroup>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="com.synflow.ngDesign.launchConfigurationSimulation"
          icon="icons/cx_app.gif"
          id="com.synflow.ngDesign.ui.launchConfigurationTypeImage">
    </launchConfigurationTypeImage>
    <launchConfigurationTypeImage
          configTypeID="com.synflow.ngDesign.launchConfigurationSynthesis"
          icon="icons/hardware.gif"
          id="com.synflow.ngDesign.ui.launchConfigurationTypeImage">
    </launchConfigurationTypeImage>
 </extension>
 <extension point="org.eclipse.core.runtime.adapters">
    <factory 
          class="com.synflow.ngDesign.ui.internal.launching.LaunchingAdapterFactory"
          adaptableType="org.eclipse.core.resources.IResource">
          <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
    </factory>
 </extension>
</plugin>
