<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         name="ngDesign"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%productBlurb"
            name="ngDesign">
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="appName"
               value="ngDesign">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
         <property
               name="startupMessageRect"
               value="7,270,320,20">
         </property>
         <property
               name="startupProgressRect"
               value="2,290,448,10">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="windowImages"
               value="icons/ngDesign16.png,icons/ngDesign32.png,icons/ngDesign48.png,icons/ngDesign64.png,icons/ngDesign128.png,icons/ngDesign256.png">
         </property>
         <property
               name="introTitle"
               value="%productIntroTitle">
         </property>
         <property
               name="introBrandingImage"
               value="product:intro-ngDesign.png">
         </property>
         <property
               name="introBrandingImageText"
               value="%productIntroBrandingText">
         </property>
         <property
               name="introDescription-overview"
               value="%introDescription-overview">
         </property>
         <property
               name="introDescription-tutorials"
               value="%introDescription-tutorials">
         </property>
         <property
               name="introDescription-samples"
               value="%introDescription-samples">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.synflow.ngDesign.ide.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overviewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/samplesExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/tutorialsExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/whatsnewExtensionContent.xml">
      </configExtension>
   </extension>

</plugin>
